{% extends 'nfl/index.html' %}{% load i18n static %}

{% block content %}
<div class="container">
    {% if unpicked_games %}<div class="card bg-transparent">
        <div class="menu-bg card-header text-center">
            <h2>{{ season_type }} {% trans 'Missing picks of week' %} {{ week.nfl_week | stringformat:'02d' }} / {{ week.year.value }}</h2>
        </div>
        <div class="bg-light-gray card-body">
        <form action="/nfl/picks/" method="post">
            {% csrf_token %}
            <div class="card-deck">
                <div class="card bg-light-gray text-right">
                    <h4 class="card-header">{% trans 'Visitor Team' %}
                </div>
                <div class="card bg-light-gray text-center" style="max-width: 6rem;">
                    <h4 class="card-header">{% trans 'Tie' %}
                </div>
                <div class="card bg-light-gray text-left">
                    <h4 class="card-header">{% trans 'Home Team' %}
                </div>
            </div>
            {% for game in unpicked_games %}
            <div class="card-deck">
                <div class="card bg-transparent text-right">
                    <div class="card-body">
                        <img class="float-left team-logo-2x" src="{% static 'nfl/img/logos/' %}{{ game.visitor_team.short_name | lower }}.svg">
                        <h5 class="card-title">{{ game.visitor_team.full_name }}</h5>
                        {% with standings=game.visitor_team.standings %}
                        <p class="card-text">({{ standings.0 }}-{{ standings.1 }}-{{ standings.2 }})</p>
                        {% endwith %}
                    </div>
                    <div class="card-footer row text-center m-0">
                        <div class="col-10">
                            <small>{{ game.timestamp }}</small>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="{{ game.id }}_{{ game.visitor_team.id }}" name="pick_{{ game.id }}" value="2_0">
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent text-center" style="max-width: 6rem;">
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <input type="radio" id="{{ game.id }}_tie" name="pick_{{ game.id }}" value="3_0">
                    </div>
                </div>
                <div class="card bg-transparent text-left">
                    <div class="card-body">
                        <img class="float-right team-logo-2x" src="{% static 'nfl/img/logos/' %}{{ game.home_team.short_name | lower }}.svg">
                        <h5 class="card-title">{{ game.home_team.full_name }}</h5>
                        {% with standings=game.home_team.standings %}
                        <p class="card-text">({{ standings.0 }}-{{ standings.1 }}-{{ standings.2 }})</p>
                        {% endwith %}
                    </div>
                    <div class="card-footer row text-center m-0">
                        <div class="col-2">
                            <input type="radio" id="{{ game.id }}_{{ game.home_team.id }}" name="pick_{{ game.id }}" value="1_0">
                        </div>
                        <div class="col-10">
                            <small>{{ game.timestamp }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="card-footer row">
            <div class="col-6 text-right">
                <input type="submit" class="btn btn-primary" value="{% trans 'Submit picks' %}">
            </div>
            <div class="col-6">
                <button class="btn btn-warning" type="button" onclick="resetPickForm()">{% trans 'Reset picks' %}</button>
            </div>
        </div>
        </form>
        </div>
    </div>{% endif %}
    <div class="card bg-transparent pt-3">
        <div class="menu-bg card-header text-center">
            <h2>{{ season_type }} {% trans 'Picks of week' %} {{ week.nfl_week | stringformat:'02d' }} / {{ week.year.value }}</h2>
        </div>
        <div class="bg-light-gray card-body">{% if picks %}
        <table class="table table-striped">
            <thead>
                <tr class="justify-content-center">
                    <th class="align-middle" scope="col">{% trans 'Player' %}</th>{% for game in week_games %}
                    <th scope="col">
                        <img class="team-logo-small" alt="{{ game.visitor_team.full_name }}" src="{% static 'nfl/img/logos/' %}{{ game.visitor_team.short_name | lower }}.svg" title="{{ game.visitor_team.full_name }}">
                        <br>{% trans 'at' %}<br>
                        <img class="team-logo-small" alt="{{ game.home_team.full_name }}" src="{% static 'nfl/img/logos/' %}{{ game.home_team.short_name | lower }}.svg" title="{{ game.home_team.full_name }}">
                    </th>{% endfor %}
                    <th class="align-middle" scope="col">{% trans 'TB' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for player, picks in picks.items %}
                <tr>
                    <td>{{ player.first_name }}</td>
                    {% for pick in picks %}
                    {% if pick is None %}
                        <td><img class="team-logo-small" alt="{% trans 'Unpicked game' %}" title="{% trans 'Unpicked game' %}" src="{% static 'nfl/img/' %}question-mark.svg"></td>
                    {% elif pick == "missed" %}
                        <td><img class="team-logo-small" alt="{% trans 'Missed game' %}" title="{% trans 'Missed game' %}" src="{% static 'nfl/img/' %}red-cross.svg"></td>
                    {% elif pick.selection == 1 %}
                        {% if pick.game.winner == 1 %}<td class="bg-success">{% else %}<td>{% endif %}<img class="team-logo-small" alt="{{ pick.game.home_team.full_name }}" title="{{ pick.game.home_team.full_name }}" src="{% static 'nfl/img/logos/' %}{{ pick.game.home_team.short_name | lower }}.svg"></td>
                    {% elif pick.selection == 2 %}
                        {% if pick.game.winner == 2 %}<td class="bg-success">{% else %}<td>{% endif %}<img class="team-logo-small" alt="{{ pick.game.visitor_team.full_name }}" title="{{ pick.game.visitor_team.full_name }}" src="{% static 'nfl/img/logos/' %}{{ pick.game.visitor_team.short_name | lower }}.svg"></td>
                    {% else %}
                        {% if pick.game.winner == 3 %}<td class="bg-success">{% else %}<td>{% endif %}{% trans 'Tie' %}</td>
                    {% endif %}{% if pick.picked_tie_break %}<td>{{ pick.picked_tie_break }}</td>{% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            <tbody>
        </table>{% else %}
        <p class="card-text">{% trans 'There are no picks for this week, yet' %}<p>
        {% endif %}</div>
    </div>
</div>
{% endblock %}

{% block app_javascript %}
<script>
function resetPickForm() {
    let tieRadioButtons = document.querySelectorAll("form input[type='radio']");
    tieRadioButtons.forEach(rb => {
        rb.checked = false;
    });
}
</script>
{% endblock %}
