{% extends 'nfl/index.html' %}{% load i18n static %}

{% block content %}
<div class="container">
    <div class="card bg-transparent">
        <div class="menu-bg card-header text-center">
            <h2>{% trans 'Games of week' %}{% if week %} {{ week.nfl_week | stringformat:'02d' }} / {{ week.year.value }}{% endif %}</h2>
        </div>
        <div class="bg-light-gray card-body">{% if week_games %}
            <div class="card-deck">
                <div class="card bg-light-gray text-right">
                    <h4 class="card-header">{% trans 'Visitor Team' %}
                </div>
                <div class="card bg-light-gray text-left">
                    <h4 class="card-header">{% trans 'Home Team' %}
                </div>
            </div>
            {% for game in week_games %}
            <div class="card-deck">
                <div class="card bg-transparent text-right">
                    <div class="card-body">
                        <img class="float-left team-logo-2x" src="{% static 'nfl/img/logos/' %}{{ game.visitor_team.short_name | lower }}.svg">
                        <h5 class="card-title">{{ game.visitor_team.full_name }}</h5>
                        {% with standings=game.visitor_team.standings %}
                        <p class="card-text">({{ standings.0 }}-{{ standings.1 }}-{{ standings.2 }})</p>
                        {% endwith %}
                    </div>
                    <div class="card-footer text-center">
                        <small>{{ game.timestamp }}</small>
                    </div>
                </div>
                <div class="card bg-transparent text-left">
                    <div class="card-body">
                        <img class="float-right team-logo-2x" src="{% static 'nfl/img/logos/' %}{{ game.home_team.short_name | lower }}.svg">
                        <h5 class="card-title">{{ game.home_team.full_name }}</h5>
                        {% with standings=game.home_team.standings %}
                        <p class="card-text">({{ standings.0 }}-{{ standings.1 }}-{{ standings.2 }})</p>
                        {% endwith %}
                    </div>
                    <div class="card-footer text-center">
                        <small>{{ game.timestamp }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}{% else %}
        <p class="card-text">{% trans 'There are no games for week' %} {{ week.nfl_week | stringformat:'02d' }} / {{ week.year.value }}<p>
        {% endif %}</div>
    </div>
{% endblock %}
