{% extends 'nfl/index.html' %}{% load i18n static %}

{% block content %}
<div class="container">
    <div class="bg-transparent card">
        <div class="menu-bg card-header text-center">
            <h2>{% trans 'Teams' %} {{ season }}</h2>
        </div>
        <div class="bg-light-gray card-body">{% if teams and verbose_teams %}
            <h4 class="card-title text-center">{% if nfl_week > 1 and nfl_week < 23 %}{% trans 'Week' %} {{ week }} of {{ season_type }}{% else %}{{ season_type }}{% endif %}</h4>
            <table class="table table-striped">
            <thead>
                <tr class="justify-content-center">
                    <th scope="col"></th>
                    <th scope="col">{% trans 'Team' %}</th>
                    <th scope="col">{% trans 'Standings' %}<br><small>(W - L - T)</small></th>
                    <th scope="col">{% trans 'Pct' %}</th>
                    <th scope="col">{% trans 'PF' %}</th>
                    <th scope="col">{% trans 'PA' %}</th>
                    <th scope="col">{% trans 'Pts' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                    <th scope="col">{% trans 'Stadium' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for team in verbose_teams %}
                <tr>
                    <td><img class="team-logo" src="{% static 'nfl/img/logos/' %}{{ team.db_team.short_name | lower }}.svg"></td>
                    <td valign="middle">{{ team.db_team.full_name }}</td>
                    <td>{{ team.won }} - {{ team.lost }} - {{ team.tie }}</td>
                    <td>{{ team.won_lost_ratio | floatformat:3 }}</td>
                    <td>{{ team.points_for }}</td>
                    <td>{{ team.points_against }}</td>
                    <td>{{ team.points_diff }}</td>
                    <td>{{ team.city }}</td>
                    <td>{{ team.stadium }}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>{% else %}
        <p class="card-text">{% trans 'There are no team stats imported, yet' %}<p>
        {% endif %}</div>
    </div>
{% endblock %}
